.App {
  width: 700px;
  display: block;
  margin: 0 auto;
  padding-top: 50px; }
  .App .form__wrapper form {
    width: 400px;
    display: block;
    margin: 0 auto;
    border: 1px solid lightgrey;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px; }
    .App .form__wrapper form label {
      display: block;
      margin-bottom: 10px; }
      .App .form__wrapper form label:last-of-type {
        margin-bottom: 20px; }
      .App .form__wrapper form label input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px; }
    .App .form__wrapper form button {
      display: block;
      margin: 0 auto; }

/*# sourceMappingURL=App.css.map */
