


.App
  width: 700px
  display: block
  margin: 0 auto
  padding-top: 50px
  .form__wrapper
    form
      width: 400px
      display: block
      margin: 0 auto
      border: 1px solid lightgrey
      text-align: center
      padding-top: 40px
      padding-bottom: 40px
      label
        display: block
        margin-bottom: 10px
        &:last-of-type
          margin-bottom: 20px
        input
          display: block
          margin-left: auto
          margin-right: auto
          margin-top: 5px
      button
        display: block
        margin: 0 auto
